<main>
    <div class="titre-accueil">
        <h2>Accueil</h2>
    </div>
    <div class="FourDivHorizontal">
        <div class="FirstDivHorizontal bc-fff">
            &nbsp;
        </div>
        <div  class="SecondDivHorizontal bc-fff">
            &nbsp;
        </div>
        <div  class="ThirdDivHorizontal bc-fff">
            &nbsp;
        </div>
        <div class="FourthDivHorizontal bc-fff">
            &nbsp;
        </div>
    </div>
    <div class="ThirdDivMid">
        <div class="ThirdDivMidMain">
            <div class="ThirdDivMidMainFirst bc-fff">
                &nbsp;
            </div>
            <div class="ThirdDivMidMainSecond">
                <div class="ThirdDivMidMainSecondFirst bc-fff">
                    &nbsp;
                </div>
                <div class="ThirdDivMidMainSecondSecond bc-fff">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="DivThird">
        <div class="DivThirdOne bc-fff">
            &nbsp;
        </div>
        <div class="DivThirdTwo bc-fff">
            &nbsp;
        </div>
    </div>
    <div class="DivFooter">
        <div class="DivFooterFirst bc-fff">
            &nbsp;
        </div>
    </div>
</main>