
footer{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.footer_width{
    width: 85%;
    height: 50px;
    display: flex;
    align-items: center;
}