// background-color: #0576b9;
// border-color: #0576b9;
// height: 60px;
// position: fixed;
// top: 0;
// right: 0;
// left: 0;
// z-index: 1002;
// display: flex;
// justify-content: center;
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    
}
.nav_width{
    width: 85%;
    height: 50px;
    display: flex;
    align-items: center;
}
.search {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
}
.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
    font-family: FontAwesome;
}